.boardCanvasContainer{

}

.boardCanvas{
  margin-top: 5%;
  background-color: #DEB887;
}

.playing{
  color:white;
}

.sizeLabel{
  color:white;
}

.inputMessage{
  resize:none;
  vertical-align: middle;
}

.chatLabel{
  color:white;
}

.inputContainer{
  position: absolute;
  right: 5%;

}
